.container {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#818181));
  background-image: linear-gradient(to bottom, #ffffff, #818181);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#818181');
  /*For IE7-8-9*/
  height: 1%;
  /*For IE7*/
  text-align: center;
  position: relative;
  height: 100vh; }

.btn {
  padding: 15px;
  padding-left: 50px;
  background-color: #080808;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer; }
  @media (min-width: 960px) {
    .btn {
      white-space: nowrap; } }

.btn::before {
  content: "";
  background-color: #f2f2f2;
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0.3;
  border-radius: 10px;
  z-index: 5; }

.btn::after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  background-image: url("../img/icon.png");
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.btn:hover {
  background-color: #000000; }

.btn:active {
  background-color: rgba(0, 0, 0, 0.39); }
