.navigation {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: 320px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navigation__site-nav,
  .navigation__user-nav {
    @include ul-reset;
    color: #00487e;
    display: flex;
    flex-direction: row;
    line-height: 1.2;
  }


  .navigation__site-nav {
    justify-content: space-around;
    font-size: 18px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .navigation__site-nav-link,
  .navigation__user-nav-link {
    display: block;
    padding: 10px;
  }

  .navigation__user-nav {
    font-size: 15px;
    font-weight: 600;

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }

  .navigation__user-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center
  }

  .navigation__user-nav-link {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .navigation__menu {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.navigation__img {
  width: 25px;
  height: 25px;
}