.select-section {
  padding: 10px 0 50px 0;
  background-color: #ffffff;
  font-weight: 300;

  .select-section__title {
    font-size: 38px;
    line-height: 1.2;
    color: #00497f;

    @media (max-width: 320px) {
      font-size: 24px;
      margin: 10px 0;
    }
  }

  .select-section__description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;

    @media (max-width: 320px) {
      line-height: 20px;
      text-align: left;
    }
  }
}

